$prim-color: #DCDFEB;
$red-color: #D12F26;
$text-active: #3C3C3B;
$text-inactive: #B9BED1;
$icon-inactive: #D3D4ED;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}