@use "components/loader";
@use "components/sidebar/sidebar";
@use "components/searchMenu/searchMenu";
@use "components/main/main";
@use "components/header/header";
@use "components/cards/card";
@use "components/moviesSection/moviesSection";
@use "components/movieDetails/castSection";
@use "components/movieDetails/movieDetails";
@use "components/movieDetails/reviewsSection";
@use "overwrite";
@use "variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body, html {
  margin: 0;
  padding: 0;
  background-color: v.$prim-color;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  .text {
    font-size: 15px;
    font-weight: bold;
    color: v.$text-active;
  }
}

#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3C3C3B;
  width: 95vw;
  height: 95vh;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  min-height: 100vh;
}